.red {
  color: red;
  text-decoration: underline;
}
.yellow {
  color: yellow;
  text-decoration: underline;
}
.gray {
  color: gray;
  text-decoration: underline;
}
.green {
  color: lime;
  text-decoration: underline;
}
h2 {
  color: cornflowerblue;
  text-decoration: underline;
}
.blue {
  color: blue;
  text-decoration: underline;
}
#dz2 {
  font-size: 60px;
  color: cornflowerblue;
  font-style: italic;
}
.days {
  font-size: 30px;
  color: rgb(187, 9, 69);
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.lesson {
  font-size: 20px;
  color: red;
  font-style: italic;
}
.table {
  background-image: url(../images/doska.jpg);
}
.first {
  background-color: blue;
}
.time {
  background-color: grey;
}
.work {
  background-color: rgb(236, 66, 14);
}
.violet {
  background-color: blueviolet;
}
.ok {
  color: burlywood;
}
#red {
  color: yellow;
}
#blue {
  color: yellow;
}
.last {
  color: peru;
}
